.fl-input-number {

    .fl-inputNumber {
        width: 150px;
        height: 35px;
        border: 1px solid #ccc;
        border-radius: 5px;

        &:hover {
            border: 1px solid #409eff;
        }

        .fl-inputNumber-handler:hover {
            cursor: pointer;
            color: #409eff;
        }

        .fl-inputNumber-handler {
            display: inline-block;
            width: 25%;
            height: 100%;
            text-align: center;
            padding: 4% 0;
            user-select:none;
        }

        .fl-inputNumber-up {
            border-radius: 4px 0 0 4px;
            border-right: 1px solid #dcdfe6;
        }

        .fl-inputNumber-input {
            width: 50%;
            height: 100%;
            display: inline-block;
            margin: 0;
            border: none;
            outline: none;
            text-align: center;
            padding: 0 4%;
            vertical-align: bottom;
        }

        .fl-inputNumber-down {
            border-radius: 0 4px 4px 0;
            border-left: 1px solid #dcdfe6;
        }


    }

    .fl-inputNumber-lg {
        width: 180px;
        height: 40px;
    }

    .fl-inputNumber-sm {
        width: 100px;
        height: 30px;
    }

    .fl-disabled {
        background-color: #f5f5f5;
        cursor: not-allowed !important;

        &:hover {
            border: 1px solid #ccc;
        }

        .fl-inputNumber-input {
            cursor: not-allowed !important;
        }

        .fl-inputNumber-handler:hover {
            cursor: not-allowed !important;
            color: #000;
        }
    }
}